:root
{
    --year-nav: 280px;
}

.month-section
{
    width: 842px;
}

.month-section__month
{
    min-width: var(--year-nav);

    position: sticky;
    top: 55vh;

    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 68px;

    text-align: center;
}

.month-section__days
{
    display: grid;
}

@media (prefers-color-scheme: dark)
{
    .month-section__month
    {
        color: #ffffff;
    }
}