:root
{
    --year-nav: 280px;
}

.year-section
{
    position: relative;
}

.year-section__container
{
    height: 150px;
    display: flex;
    align-items: center;

    text-align: center;
    background: white;

    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
}

.year-section__month
{
    display: flex;
    align-items: center;
}

.year-section__month-border
{
    display: inline-block;
    border-left: 5px solid #000000;
    margin: 0 10px;
    height: 75px;
}

.year-section__line
{
    width: 100%;
    border: none;
    border-top: 10px solid #000000;

    margin: 0;
    transition: width 2s ease;
}

@media (prefers-color-scheme: dark)
{
    .year-section__container
    {
        background: #191919;
    }

    .year-section__year, .year-section__line
    {
        border-color: #ffffff;
    }
}