:root
{
  --year-nav: 280px;
}

.header
{
  width: 100%;

  position: fixed;
  top: 0;
  background: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__container
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.profile__button
{
  display: block;

  margin: 30px;
}

.days-of-week
{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(7, 1fr);

  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);

  margin-left: var(--year-nav);
}

@media (prefers-color-scheme: dark)
{
  .header
  {
    background: #191919;
  }

  .profile__button
  {
    filter: invert(100%);
  }

  .days-of-week
  {
    color: rgba(255, 255, 255, 0.5);
  }
}